*{
  box-sizing: border-box;
  margin:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight:bold;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:100vh;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:blanchedalmond;
}

.text-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.source-container,.target-container{
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  margin: 5px;
}

.source-container{
  align-items: flex-end;
}

.target-container{
  align-items: flex-start;
}

#translate-button,#clear-button,#source-languages,#target-languages{
  margin: 0px;
  padding: 12px;
  border-radius: 10px;
  border-width: 3px;
}

.input, .output {
width: 70vh;
height: 55vh;
padding: 5px;
margin-left:5px;
margin-right: 5px;
margin-bottom: 20px;
margin-top: 15px;
border-radius: 7px;
border-width:medium;
font-family:nirmala ui;
font-size: x-large;
font-weight:500;
resize: none;
}

.dropdown{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

.switch-button{
  width: 45px;
  height: 45px;
  padding: 0;
  margin-top:0px;
  margin-bottom: 1px;
  margin-left: 8px;
  margin-right: 8px;
  border:none;
  border-radius:10px;
}

#switcher{
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  border-radius: 10px;
}

.switch-button:hover,#translate-button:hover,#clear-button:hover{
  opacity: 0.8;
  transform: scale(1.05);
  cursor:pointer;
}
.switch-button:active{
  opacity:1;
}

#source-languages,#target-languages{
  background-color:azure;
  padding: 8px;
}

#translate-button{
  background-color:rgb(46, 189, 46);
}
#clear-button{
  background-color: rgb(215, 81, 81);
}

@media screen and (max-height:600px) and (orientation: landscape) {
 *{
      font-size:small;
  }
.main-container{
  margin-top:0px;
  width:630px;
  height:60vh;
}
.text-container{
  margin-left:50px;
}
.input,.output{
  width:75vh;
  height:45vh;
  padding:5px;
  margin-top:10px;
  margin-right:10px;
  font-size:small;
}
.dropdown{
  margin-bottom:5px;
  margin-top:50px;
  
}
.source-container,.target-container{
      margin-top:0;
  margin-left:0;
  margin-right:10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
  }
#translate-button,#clear-button{
  width:100px;
  padding:5px;
}
.switch-button{
  height:35px;
}
.attribution{
  position:absolute;
  top:20px;
  height:30px;
}
}

@media screen and (max-width: 500px) and (orientation: portrait){
  *{
      font-size:small;
  }

  .main-container{
      
      padding:10px;
  }

  .text-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .dropdown{
    margin-top:10px;
    margin-bottom:0px;
  }

.switch-button{
  height:40px;
}
.source-container,.target-container{
      align-items: center;
  }

.target-container{
  padding-bottom:10px;
  margin-bottom:10px;
  margin-top:0px;
}
  .input,.output{
      width: 45vh;
      height: 32vh;
      font-size: large;
  }
}

.attribution {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.8rem;
  background-color: #7cc4eb;
  padding: 8px;
  border-radius: 5px;
}
